:root {
    --bg-color: #ffffff;
    --text-color: #353535;
    --card-bg: #ffffff;
    --input-bg: #ffffff;
    --table-bg: #ffffff;
    --table-header-bg: #f7f7f7;
    --table-header-hover: #ebebeb;
    --table-text: #3e3e3e;
    --border-color: #dddddd;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --navbar-bg: #ffffff;
    --hover-bg: #f4f4f4;
    --search-border: #ccc;
}

[data-theme='dark'] {
    --bg-color: #212121;
    --text-color: #f1f1f1;
    --card-bg: #2b2b2b;
    --input-bg: #333333;
    --table-bg: #272727;
    --table-header-bg: #2b2b2b;
    --table-header-hover: #3d3d3d;
    --table-text: #e0e0e0;
    --border-color: #3b3b3b;
    --shadow-color: rgba(0, 0, 0, 0.6);
    --navbar-bg: #2e2e2e;
    --hover-bg: #262626;
    --search-border: #555555;
}

body {
    background-color: var(--bg-color) !important;
    color: var(--text-color);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.navbar {
    margin-bottom: 2rem;
    width: 100%;
    height: 4rem;
    background-color: var(--navbar-bg);
    box-shadow: 0 2px 8px var(--shadow-color);
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
}

.navbar-title {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 2rem;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
}

#theme-toggle-btn {
    background: transparent;
    border: none;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-toggle-btn i {
    font-size: 20px;
}

.toggle-profile {
    display: flex;
    gap: 1.5rem;
    padding: 0 2rem;
}

.toggle-profile i {
    font-size: 24px;
    cursor: pointer;
    color: var(--table-text);

}

.flash-message {
    text-align: center;
    min-width: 250px !important;
    border-radius: 10px !important;
    padding: 0.5rem !important;
    z-index: 1050;
    position: fixed !important;
    top: 1rem;
    right: 2rem;
    opacity: 1;
    animation: bounceIn 0.6s ease-out, fadeOut 0.5s ease-in 5s forwards;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    60% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.undo-btn {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    color: rgb(86, 86, 86);
}

.student-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    height: 80vh;
    width: 80%;
    background-color: var(--card-bg);
}

.full-screen-outlet {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.7), rgba(45, 45, 45, 0.6));
    z-index: 1000;
}

[data-theme='dark'] .full-screen-outlet {
    background: linear-gradient(to bottom, rgba(67, 67, 67, 0.6), rgba(88, 88, 88, 0.6));
}

#formCont {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    left: 35%;
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 2.5rem;
    border-radius: 20px;
    width: 30%;
    z-index: 2000;
    position: relative;
    margin: 4% 0;
}

label {
    font-weight: 600;
    color: var(--text-color);
    margin: 0.3rem 0;
    font-size: 14px;
}

input {
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    background-color: var(--card-bg);
    color: var(--text-color);
    outline: none;
    height: 35px;
}

input:focus {
    border: 1px solid #a6a6a6;
}

input::placeholder {
    color: var(--text-color);
    opacity: 0.6;
}

input[type="checkbox"] {
    cursor: pointer;
    height: auto;
    margin-right: 0.5rem;
}

.ember-power-select-dropdown {
    background-color: var(--card-bg) !important;
    color: var(--text-color) !important;
    border: 1px solid var(--border-color) !important;
    box-shadow: 0 4px 8px var(--shadow-color) !important;
}

.ember-power-select-option {
    color: var(--text-color) !important;
}

.ember-power-select-option[aria-selected='true'] {
    background-color: var(--search-border) !important;
    color: var(--text-color) !important;
    opacity: 0.9 !important;
}

.ember-power-select-option[aria-current='true'] {
    background-color: var(--hover-bg) !important;
    color: var(--text-color) !important;
}

.ember-power-select-option:hover {
    background-color: #4f8091 !important;
    color: white !important;
}

form .ember-power-select-trigger {
    background-color: var(--card-bg) !important;
    color: var(--text-color) !important;
    border: 1px solid var(--border-color) !important;
    border-radius: 5px;
    scrollbar-width: none;
}

.ember-power-select-placeholder {
    color: var(--text-color) !important;
    opacity: 0.6;
}

.ember-power-select-multiple-option {
    background-color: var(--hover-bg) !important;
    color: var(--text-color) !important;
    border: 1px solid var(--border-color) !important;
    margin: 0 4px 4px 0;
    padding: 2px 6px;
    border-radius: 4px;
}

.ember-power-select-clear-btn {
    color: var(--text-color) !important;
}

.ember-basic-dropdown-content {
    background-color: var(--card-bg) !important;
    color: var(--text-color) !important;
    border: 1px solid var(--border-color) !important;
}

.table-container {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-color: var(--border-color) transparent;
    width: 100%;
    box-shadow: 3px 2px 10px var(--shadow-color);
    background: var(--card-bg);
    border: 1px solid var(--border-color);
    scrollbar-width: thin;

}

table {
    background-color: var(--table-bg);
    border-radius: 10px;
    border-collapse: collapse;
    color: var(--table-text);
    width: max-content;
    min-width: 1200px;
    table-layout: auto;
}

.table-container thead {
    position: sticky;
    top: 0;
    background-color: var(--table-header-bg);
    color: var(--text-color);
    text-align: center;
    font-size: 14px;
    z-index: 200;
}

tbody {
    overflow-y: auto;
    width: 100%;
    scrollbar-width: thin;
    background-color: var(--table-bg);
    color: var(--table-text);
}

tr th {
    padding: 0.6rem;
    margin: 0;
    position: relative;
}

th:not(:first-child) {
    min-width: 200px;
}


th:hover {
    background-color: var(--table-header-hover);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.8);
}

tr th i {
    cursor: pointer;
    margin-left: 0.5rem;
    font-size: 12px;
}

th.resizable {
    position: relative;
    user-select: none;
}

th.resizable .resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    cursor: ew-resize;
    z-index: 1;
}


.table-container tr td {
    border-bottom: 1px solid var(--border-color);
    padding: 0.8rem;
    font-size: 14px;
    text-align: center;
    z-index: 20;
    cursor: pointer;
}

.main-row:hover {
    background-color: var(--hover-bg);
}

table tr td:not(:first-child) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;

}

.main-row th:first-child,
.main-row td:first-child {
    background-color: var(--table-header-bg);
    position: sticky;
    left: 0;
    top: 0;
    z-index: 50;
    width: 60px;
}

.main-row td:first-child {
    background-color: var(--table-bg);
}

.main-row th:first-child input {
    margin-right: 1.2rem;
}

.main-row th:first-child::after,
.main-row td:first-child::after,
.nested-row-first-child::after {
    content: "";
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
    pointer-events: none;
}

.nested-table {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.nested-table thead :hover {
    background-color: var(--border-color);
}

.nested-table thead tr {
    background-color: var(--border-color);
}

.nested-table tr td {
    background-color: var(--table-bg);
}

.nested-row-first-child {
    background-color: var(--table-bg);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.nested-content {
    animation: fadeInDown 0.3s ease;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.chevron-icon {
    transition: transform 0.3s ease;
    float: right;
    cursor: pointer;
    font-size: 12px;
}

.chevron-icon.rotate {
    transform: rotate(90deg);
}

.btn-cd {
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    border: none;
    background-color: #4f8091;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

.btn-cd i {
    font-size: 12px;
    margin-right: 5px;
}

.cancel,
.uc {
    margin: 1rem 0;
}

.add {
    background: linear-gradient(135deg, #4f8091, #2b5a68);
}

.dlt {
    background: linear-gradient(135deg, #e37272, #c94b4b);
}

.cancel {
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid #c8c8c8;
}

.btn-ed {
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0 0.3rem;
}

.btn-ed i {
    font-size: 14px;
}

.delete {
    color: #d84949;
}

.edit {
    color: var(--text-color);
}

button i {
    font-size: 12px;
}

.decision {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.decision button {
    width: 100%;
}

#close-btn {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--text-color);
    font-size: 20px;
}

.btn-filter {
    border: 1px solid var(--search-border);
    background: transparent;
    color: var(--text-color);
    opacity: 0.8;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    font-size: 14px;
    font-weight: 600;
}

.btn-filter i {
    font-size: 14px;
}

.advanced-filters button {
    float: right;
}

.filter {
    margin: 1rem;
}

.btn-cd:hover,
.btn-filter:hover {
    scale: 1.03;
}

.advanced-filters,
.customize-column {
    position: absolute;
    top: 100%;
    z-index: 1000;
    padding: 1rem;
    background: var(--card-bg);
    color: var(--text-color);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-top: 0.4rem;
}

.filter-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0;
    padding-left: 0;
    transition: transform 0.2s ease;
}


ul li div {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 1rem;
}

.advanced-filters {
    left: 12rem;
}

.customize-column {
    left: 0.5rem;
    width: 400px;
}

.customize-column-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
    padding-right: 1rem;
    width: 100%;
}

.customize-column-rc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.customize-desc {
    color: var(--text-color);
    opacity: 0.8;
    font-size: 14px;
    font-weight: 600;
}

.close-modal i {
    cursor: pointer;
    font-size: 20px;
}

.btn-reset {
    border: none;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #d84949;
    color: #d84949;
    opacity: 0.9;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    font-size: 12px;
}

.filter-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-dept,
.filter-skill,
.custom-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 0.5rem;
}

.title-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-dlt-cont {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.search-dlt-cont span {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);
}

.search-cont {
    display: flex;
    align-items: center;
    border: 1px solid var(--search-border);
    border-radius: 5px;
    width: 40%;
    background-color: var(--input-bg);
    padding: 0 1rem;
    height: 33px;
}

.search-cont i {
    font-size: 14px;
    margin-right: 8px;
    color: var(--text-color);
    opacity: 0.7;
}

#search {
    flex: 1;
    border: none;
    background: transparent;
    color: var(--text-color);
    padding: 0.3rem;
    min-width: 120px;
}

.search-cont .ember-power-select-trigger {
    background: transparent !important;
    border: none !important;
    height: 30px !important;
    overflow-y: scroll !important;
    scrollbar-width: none !important;
    max-width: 170px !important;
    min-width: 100px !important;
}

.search-cont .ember-power-select-multiple-option {
    background-color: var(--table-bg) !important;
    color: var(--text-color) !important;
    border: none !important;
    margin: 0.2rem !important;
    padding: 0 8px !important;
    font-size: 10px !important;
    border-radius: 20px !important;
    font-weight: 500 !important;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.search-cont .ember-power-select-placeholder {
    font-size: 12px !important;
    font-weight: 400 !important;
    opacity: 0.7 !important;
    color: var(--text-color) !important;
    padding: 0.3rem 0.7rem;
}

.ember-power-select-multiple-remove-btn {
    font-size: 16px !important;
}

.search-cd-cont {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    gap: 0.5rem;
    position: relative;
}